<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
</head>

<body>

<div style="min-width:800px; max-width:1100px;">
    <div id="month_navigation_menu" class="ui right floated menu">
        <a class="icon item" href="http://google.com">
            <i class="left chevron icon"></i>
        </a>
        <div class="item">January 2018</div>
        <a class="icon item" href="http://ya.com">
            <i class="right chevron icon"></i>
        </a>
    </div>

    <div id="content_menu" class="ui tabular menu">
        <div id="calendar_tab" class=" item"
             data-tab="calendar"
             style="cursor: pointer;">Calendar
        </div>

        <div id="event_list_tab" class=" item"
             data-tab="event_list"
             style="cursor: pointer;">Events
        </div>

        <div id="pass_card_tab" class="active item"
             data-tab="pass_card"
             style="cursor: pointer;">Pass card
        </div>
    </div>

    <div class="ui  tab" data-tab="calendar">
        <table class="ui celled unstackable fixed table">
    <tbody>
    
    <tr class="top aligned">
        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="">
            
            <p>1&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="">
            
            <p>2&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="">
            
            <p>3&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="">
            
            <p>4&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>5&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:darksalmon;">
            

            
            
<div id="1_6" data-html=
        "
        
        <div>
            Game 1: Starters
        </div>
        <div>
            00:00:00
        </div>
        <p>
        
" , style="cursor: pointer;">
    <p>6&nbsp;</p>

    <table class="ui collapsing unstackable table" style="background-color: transparent; border-color:transparent;">
        <tbody>
        <tr>
            
            <td style="border-color:transparent;">
                <i class="big game icon" style="color:white;"> </i>
            </td>
            
        </tr>
        </tbody>
    </table>

</div>



<div id="1_6_modal" class="ui tiny modal">
    <div class="header">6 january 2018
    </div>
    <div class="content">
        <div class="ui small relaxed list">

            
            <div class="item">

                <i class="big game icon"></i>

                <div class="content">

                    <a class="header" href="">Game 1: Starters</a>
                    <div class="description">Very first game</div>

                    <p></p>

                    <div class="ui label">
                        Starts at: 00:00:00
                    </div>

                    <div class="ui orange label">
                        Finished
                    </div>

                    <div class="ui label">
                        Participate: 0 / 10
                    </div>

                    <div class="ui label">
                        Waiting: 0
                    </div>
                </div>

            </div>
            

        </div>
    </div>
    <div class="actions">
        <div class="ui primary ok button">Ok</div>
    </div>
</div>


<script>
    $('#1_6').popup({
        on: 'hover',
        position: 'top center'
    });

    $("#1_6").click(function () {
        $('#1_6_modal').modal('show');
    });
</script>
            

            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:darkcyan;">
            

            
            
<div id="1_7" data-html=
        "
        
        <div>
            Lesson 2: Red card
        </div>
        <div>
            09:04:18
        </div>
        <p>
        
" , style="cursor: pointer;">
    <p>7&nbsp;</p>

    <table class="ui collapsing unstackable table" style="background-color: transparent; border-color:transparent;">
        <tbody>
        <tr>
            
            <td style="border-color:transparent;">
                <i class="big book icon" style="color:white;"> </i>
            </td>
            
        </tr>
        </tbody>
    </table>

</div>



<div id="1_7_modal" class="ui tiny modal">
    <div class="header">7 january 2018
    </div>
    <div class="content">
        <div class="ui small relaxed list">

            
            <div class="item">

                <i class="big book icon"></i>

                <div class="content">

                    <a class="header" href="">Lesson 2: Red card</a>
                    <div class="description">Being a good red citizen</div>

                    <p></p>

                    <div class="ui label">
                        Starts at: 09:04:18
                    </div>

                    <div class="ui grey label">
                        Not ready
                    </div>

                    <div class="ui label">
                        Participate: 0 / 10
                    </div>

                    <div class="ui label">
                        Waiting: 0
                    </div>
                </div>

            </div>
            

        </div>
    </div>
    <div class="actions">
        <div class="ui primary ok button">Ok</div>
    </div>
</div>


<script>
    $('#1_7').popup({
        on: 'hover',
        position: 'top center'
    });

    $("#1_7").click(function () {
        $('#1_7_modal').modal('show');
    });
</script>
            

            
        </td>
        

        
    </tr>
    
    <tr class="top aligned">
        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>8&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>9&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>10&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>11&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:darkorange;">
            

            
            
<div id="1_12" data-html=
        "
        
        <div>
            Lesson 3: Black card
        </div>
        <div>
            09:04:18
        </div>
        <p>
        
        <div>
            Tournament: Straters
        </div>
        <div>
            13:04:18
        </div>
        <p>
        
" , style="cursor: pointer;">
    <p>12&nbsp;</p>

    <table class="ui collapsing unstackable table" style="background-color: transparent; border-color:transparent;">
        <tbody>
        <tr>
            
            <td style="border-color:transparent;">
                <i class="big book icon" style="color:white;"> </i>
            </td>
            
            <td style="border-color:transparent;">
                <i class="big trophy icon" style="color:white;"> </i>
            </td>
            
        </tr>
        </tbody>
    </table>

</div>



<div id="1_12_modal" class="ui tiny modal">
    <div class="header">12 january 2018
    </div>
    <div class="content">
        <div class="ui small relaxed list">

            
            <div class="item">

                <i class="big book icon"></i>

                <div class="content">

                    <a class="header" href="">Lesson 3: Black card</a>
                    <div class="description">Being a good black citizen</div>

                    <p></p>

                    <div class="ui label">
                        Starts at: 09:04:18
                    </div>

                    <div class="ui grey label">
                        Not ready
                    </div>

                    <div class="ui label">
                        Participate: 0 / 10
                    </div>

                    <div class="ui label">
                        Waiting: 0
                    </div>
                </div>

            </div>
            
            <div class="item">

                <i class="big trophy icon"></i>

                <div class="content">

                    <a class="header" href="">Tournament: Straters</a>
                    <div class="description">First year novices are welcome</div>

                    <p></p>

                    <div class="ui label">
                        Starts at: 13:04:18
                    </div>

                    <div class="ui grey label">
                        Not ready
                    </div>

                    <div class="ui label">
                        Participate: 0 / 10
                    </div>

                    <div class="ui label">
                        Waiting: 0
                    </div>
                </div>

            </div>
            

        </div>
    </div>
    <div class="actions">
        <div class="ui primary ok button">Ok</div>
    </div>
</div>


<script>
    $('#1_12').popup({
        on: 'hover',
        position: 'top center'
    });

    $("#1_12").click(function () {
        $('#1_12_modal').modal('show');
    });
</script>
            

            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>13&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>14&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        
    </tr>
    
    <tr class="top aligned">
        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>15&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>16&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>17&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>18&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>19&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>20&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>21&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        
    </tr>
    
    <tr class="top aligned">
        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>22&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>23&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>24&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>25&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>26&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>27&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>28&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        
    </tr>
    
    <tr class="top aligned">
        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>29&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>30&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        

        
        
        
        
        

        <td class="selectable right aligned" style="background-color:#ADD8E6;">
            
            <p>31&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
            
        </td>
        

        

        

        
        <td class="selectable disabled right aligned">
            <p>1&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
        </td>

        

        

        

        
        <td class="selectable disabled right aligned">
            <p>2&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
        </td>

        

        

        

        
        <td class="selectable disabled right aligned">
            <p>3&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
        </td>

        

        

        

        
        <td class="selectable disabled right aligned">
            <p>4&nbsp;</p>
            <div style="width:50px; height:50px;"></div>
        </td>

        

        
    </tr>
    
    </tbody>
    <tfoot>
    <tr>
        <th colspan="7">
            <table>
                <tr>
                    
                    <td style="background-color: #ADD8E6; height:30px;">
                        Calendar
                    </td>
                    
                    <td style="background-color: darkcyan; height:30px;">
                        Lesson
                    </td>
                    
                    <td style="background-color: darkorange; height:30px;">
                        Tournament
                    </td>
                    
                    <td style="background-color: darksalmon; height:30px;">
                        Game
                    </td>
                    
                </tr>
            </table>

        </th>
    </tr>
    </tfoot>
</table>
    </div>

    <div class="ui  tab" data-tab="event_list">
        
        <div class="ui large relaxed list">

    

    
    
    <div class="item">
    <p></p>
    <i class="big game icon"></i>

    <div class="content">
        <a class="header" href="">Game 1: Starters</a>
        <div class="description">Very first game</div>

        <p></p>
        <div class="ui orange label">
            Finished
        </div>

        <div class="ui label">
            Participate: 0 / 10
        </div>

        <div class="ui label">
            Starts at: 00:00:00
        </div>

        <div class="ui label">
            Waiting: 0
        </div>

    </div>
</div>

    
    
    
    <div class="item">
    <p></p>
    <i class="big book icon"></i>

    <div class="content">
        <a class="header" href="">Lesson 2: Red card</a>
        <div class="description">Being a good red citizen</div>

        <p></p>
        <div class="ui grey label">
            Not ready
        </div>

        <div class="ui label">
            Participate: 0 / 10
        </div>

        <div class="ui label">
            Starts at: 09:04:18
        </div>

        <div class="ui label">
            Waiting: 0
        </div>

    </div>
</div>

    
    
    
    <div class="item">
    <p></p>
    <i class="big book icon"></i>

    <div class="content">
        <a class="header" href="">Lesson 3: Black card</a>
        <div class="description">Being a good black citizen</div>

        <p></p>
        <div class="ui grey label">
            Not ready
        </div>

        <div class="ui label">
            Participate: 0 / 10
        </div>

        <div class="ui label">
            Starts at: 09:04:18
        </div>

        <div class="ui label">
            Waiting: 0
        </div>

    </div>
</div>

    
    
    
    <div class="item">
    <p></p>
    <i class="big trophy icon"></i>

    <div class="content">
        <a class="header" href="">Tournament: Straters</a>
        <div class="description">First year novices are welcome</div>

        <p></p>
        <div class="ui grey label">
            Not ready
        </div>

        <div class="ui label">
            Participate: 0 / 10
        </div>

        <div class="ui label">
            Starts at: 13:04:18
        </div>

        <div class="ui label">
            Waiting: 0
        </div>

    </div>
</div>

    
    

    
</div>
        
    </div>

    

    <div class="ui active tab" data-tab="pass_card">
        
        

<div class="ui center aligned basic segment">
    <span style="font-size: 1.5rem;"> Events visited 1 of 8</span>

    <p>expires at 2018-02-05</p>

</div>


<div class="ui large relaxed list">

    

    
    
    <div class="item">
    <p></p>
    <i class="big game icon"></i>

    <div class="content">
        <a class="header" href="">Game 1: Starters</a>
        <div class="description">Very first game</div>

        <p></p>
        <div class="ui orange label">
            Finished
        </div>

        <div class="ui label">
            Participate: 0 / 10
        </div>

        <div class="ui label">
            Starts at: 00:00:00
        </div>

        <div class="ui label">
            Waiting: 0
        </div>

    </div>
</div>

    
    

    
</div>



        
    </div>

    

    <script>
        $('#month_navigation_menu').hide();
    </script>

    
</div>


<script>
    $(document).ready(function () {
        $('#content_menu .item').tab();

        $('#calendar_tab').click(function () {
            $('#month_navigation_menu').show();
        });

        $('#event_list_tab').click(function () {
            $('#month_navigation_menu').show()
        });

        $('#pass_card_tab').click(function () {
            $('#month_navigation_menu').hide()
        });
    });
</script>

</body>

</html>