<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
</head>

<body>

<div class="ui grid">
    <div class="two wide column">

    </div>
    <div class="twelve wide column">
        <div class="ui hidden divider"></div>

        <div class="ui feed">
    
    <div class="ui hidden divider"></div>
    <div class="event">
        <div class="content">
            <div class="summary">
                Participated at <a href="http://google.com">Game 1: Starters</a>
                <div class="date">2018-01-06</div>
            </div>
            <div class="extra text">
                You took a <strong>1</strong> place
                
                and get <strong>1000</strong> reward
                
            </div>
        </div>
    </div>
    
    <div class="ui hidden divider"></div>
    <div class="event">
        <div class="content">
            <div class="summary">
                Participated at <a href="http://ya.com">Lesson 2: Red card</a>
                <div class="date">2018-01-07</div>
            </div>
            <div class="extra text">
                You took a <strong>1</strong> place
                
                and get <strong>1000</strong> reward
                
            </div>
        </div>
    </div>
    
    <div class="ui hidden divider"></div>
    <div class="event">
        <div class="content">
            <div class="summary">
                Participated at <a href="http://vk.com">Tournament: Straters</a>
                <div class="date">2018-01-12</div>
            </div>
            <div class="extra text">
                You took a <strong>1</strong> place
                
                and get <strong>1000</strong> reward
                
            </div>
        </div>
    </div>
    
</div>

    </div>
    <div class="two wide column"></div>
</div>

</body>

</html>