<div class="ui large feed">
    {% for r in view.events_history %}
    <div class="ui hidden divider"></div>
    <div class="event">
        <div class="content">
            <div class="summary">
                {{loc(loc.EVENTS_HISTORY_PARTICIPATED_AT, r.event.url, r.event.title)|safe}}
                <div class="date">{{r.event.start_date}}</div>
            </div>
            <div class="extra text">
                {% if r.place %}
                    {{loc(loc.EVENTS_HISTORY_TOOK_PLACE, r.place)|safe}}
                    {% if r.reward and r.rewarded %}
                        {{loc(loc.EVENTS_HISTORY_AND_REWARD, r.reward)|safe}}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>