<div class="item">
    <p></p>
    <i class="big {{event.label.icon.name}}"></i>

    <div class="content">
        <a class="header" href="{{event.link}}">{{ event.title }}</a>
        <div class="description">{{event.description_short}}</div>

        <p></p>
        <div class="ui {{event.state.color }} label">
            {{loc(event.state.loc_key)}}
        </div>

        <div class="ui label">
            Participate: {{event.participant_list|length}} / {{event.max_participants}}
        </div>

        <div class="ui label">
            Starts at: {{event.start_time}}
        </div>

        <div class="ui label">
            Waiting: {{event.wait_list|length}}
        </div>

    </div>
</div>

