{% set day_id = day.date.month|string + '_' + day.date.day|string %}
<div id="{{day_id}}" data-html=
        "
        {% for e in day.events %}
        <div>
            {{e.name}}
        </div>
        <div>
            {{e.start_time}}
        </div>
        <p>
        {% endfor %}
", style="cursor: pointer;">
    <p>{{day.date.day}}&nbsp;</p>

    <div class="ui grid">
        {% for e in day.events%}
        <div class="three wide column">
            <i class="{{e.label.icon.name}}" style="color:{{e.label.icon.color}};"> </i>
        </div>
        {% endfor %}
    </div>
</div>


{% set day_modal = day_id + "_modal" %}
<div id="{{day_modal}}" class="ui tiny modal">
    <div class="header">{{day.date.day|string + " " + month.name + " " + month.year|string}}</div>
    <div class="content">
        <div class="ui list">
            {% for e in day.events %}
            <div class="item">
                <i class="{{e.label.icon.name}}"></i>
                <div class="content">
                    <a href="{{e.url}}" class="header">
                        {{e.title}}
                    </a>
                    <div class="description">
                        {{e.description_short}}
                    </div>
                    <div class="extra">
                        {{e.start_time}}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="actions">
        <div class="ui primary ok button">Ok</div>
    </div>
</div>


<script>
    $('#{{day_id}}').popup({
        on: 'hover',
        position: 'top center'
    });

    $("#{{day_id}}").click(function () {
        $('#{{day_modal}}').modal('show');
    });
</script>