<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
</head>
<body>

<div class="ui right floated menu">
    <a class="icon item">
        <i class="left chevron icon"></i>
    </a>
    <div class="item">{{month.name}} {{month.year}}</div>
    <a class="icon item">
        <i class="right chevron icon"></i>
    </a>
</div>

<div class="ui tabular secondary menu">
    <a class="active item" data-tab="calendar">Calendar</a>
    <a class="item" data-tab="event_list">Events</a>
</div>

<div class="ui active tab" data-tab="calendar">
    {% include 'event_calendar/includes/_calendar.html' %}
</div>
<div class="ui tab" data-tab="event_list">
    {% include 'event_calendar/includes/_event_list.html' %}
</div>


</body>

<script>
    $('.menu .item').tab();
</script>

</html>